html,body{
    background-image: url("Screenshot\ 2025-03-30\ 174932.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar{ /*Styling for the Navigation Bar*/
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    margin: 0px 200px;
    border-radius: 20px;
    list-style-type: none;
    overflow: hidden;
}
.navbar a{
    text-decoration: none;
    padding: 20px;
    text-transform: uppercase;
    color: rgb(32, 32, 32);     
    letter-spacing: 7px;
    display: block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    transition: all 0.5s;
}
.navbar a:hover{
    color: rgb(177, 177, 177);
}
.footer{ 
    bottom: 0;
    left: 0;
    color: white;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.32);
    width: 100%;
    text-align: center;
    font-family: Tahoma;
}
.heading{ /*Styling of the heading in the index page*/
    color: rgb(0, 0, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 40px;
    border-radius: 20px;
    letter-spacing: 10px;
    text-shadow: 5px 5px 30px;
    margin: 30px 500px;
    transition: all 1s;
    background-color: white;
    padding: 20px;
}
.heading:hover{
    letter-spacing: 20px;
}
.grid-cont{ /*Grid layout in the index and "what's on" page*/
    display: grid;
    margin: 130px 250px;
    grid-template-columns: auto auto;
}
.item1{ /*Items of the grid layout in the index page*/
    color: white;
}
.item1 h1{
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 3px;
    font-family: Tahoma;
}
.item1 p{
    font-family: sans-serif;
    letter-spacing: 2.5px;
    line-height: 1.8;

}
.item1 button{
    border-radius: 15px;
}
.item1 button a{
    border: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: black;
    padding: 10px;
    display: block;
}
.item2{
    background-color: rgba(255, 255, 255, 0.201);
    color: white;
    padding: 30px;
    border-radius: 20px;
    margin: 0px 30px;
}
.item2 h1{
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 3px;
    font-family: Tahoma;
    margin: 0;
}
.item2 p{
    font-family: sans-serif;
    letter-spacing: 2.5px;
    line-height: 1.8;
}
.about{ /*Styling for the box in the about page*/
    margin: 20px 300px;
    color: white;
    background-color: rgba(255, 255, 255, 0.32);
    font-family: tahoma;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
}
.about h1{
    letter-spacing: 3px;
}
.about li{
    padding: 10px;
    letter-spacing: 2px;
    list-style-type: none;
}

.whatitems{ /*Styling for the items in the grid on "What's on" page*/
    background-color: rgba(255, 255, 255, 0.32);
    color: white;
    margin: 10px;
    padding: 20px;
    border-radius: 20px;
    font-family: tahoma;
    text-align: center;
    letter-spacing: 2px;
    line-height: 1.8;
    

}
.whatitems:hover{
    background-color: rgba(255, 255, 255, 0.128);
}
.box{/*Styling for the forms in Contact and Ticket pages*/
    text-align: center;
    margin: 100px auto;
    width: 30%;
    background-color: white;
    padding: 30px;
    border-radius: 20px;
}
.box label{
    font-family: tahoma;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.box input{
    border-radius: 5px;
    border: 1px solid black;
    padding: 15px;
    width: 300px;
    margin: 20px;
}
.box textarea{
    width: 300px;
    height: 60px;
    margin: 30px;
    text-align: center;
}
.box h1{
    font-family: tahoma;
    letter-spacing: 10px;
    text-transform: uppercase;
}
.box button{
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px;
    font-family: Tahoma;
    letter-spacing: 7px;
    background-color: black;
    color: white;
    font-size: 15px;
}
.box button:hover{
    background-color: white;
    color: black;
}